@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
}

.mask {
  mask-image: url('mask.svg');

  mask-repeat: no-repeat;

  mask-size: 60px;

  background: #ec4e39;

  position: absolute;

  color: black;
}
